/* bodoni-moda-regular - latin */
@font-face {
  font-family: 'Lucida Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  /* Chrome 26+, Opera 23+, Firefox 39+ */
       url("fonts/Lucida-Sans-Std-Roman.woff2") format('woff2'),
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url("fonts/Lucida-Sans-Std-Roman.woff") format('woff'),
       url("fonts//Lucida-Sans-Std-Italic.woff2") format('woff2'),
       url("fonts/Lucida-Sans-Std-Italic.woff") format('woff'),
       url("fonts/Lucida-Sans-Std-Bold.woff2") format('woff2'),
       url("fonts/Lucida-Sans-Std-Bold.woff") format('woff'),
       url("fonts/Lucida-Sans-Std-Bold-Italic.woff2") format('woff2'),
       url("fonts/Lucida-Sans-Std-Bold-Italic.woff") format('woff');
       
}